n8n-workflow.json
{
  "name": "SEO Checker API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "seo-check",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "execute",
        "command": "=cd /opt/seo-checker && node src/cli-json.js '{{ $json.query.url }}' 2>/dev/null"
      },
      "name": "Run SEO Check",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [420, 300],
      "credentials": {
        "sshPassword": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Run SEO Check').first().json.stdout;\ntry {\n  const result = JSON.parse(raw);\n  return [{ json: result }];\n} catch (e) {\n  return [{ json: { error: 'SEO 검사 실패: ' + (raw || e.message) } }];\n}"
      },
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Run SEO Check", "type": "main", "index": 0 }]
      ]
    },
    "Run SEO Check": {
      "main": [
        [{ "node": "Parse Result", "type": "main", "index": 0 }]
      ]
    },
    "Parse Result": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  }
}
