n8n-workflow.json
{
  "name": "SEO Checker API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "seo-check",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.query.url && $json.query.url.startsWith('http') ? $json.query.url : 'https://' + $json.query.url }}",
        "options": {
          "redirect": { "redirect": { "followRedirects": false } },
          "response": { "response": { "fullResponse": true } },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Webhook').first().json.query.url && $('Webhook').first().json.query.url.startsWith('http') ? $('Webhook').first().json.query.url : 'https://' + $('Webhook').first().json.query.url }}",
        "options": {
          "response": { "response": { "fullResponse": true, "responseFormat": "text" } },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      },
      "name": "Fetch HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ (() => { const u = $('Webhook').first().json.query.url; const full = u && u.startsWith('http') ? u : 'https://' + u; const m = full.match(/^(https?:\\/\\/[^/]+)/); return m ? m[1] + '/robots.txt' : full + '/robots.txt'; })() }}",
        "options": {
          "response": { "response": { "fullResponse": true, "responseFormat": "text" } },
          "timeout": 10000
        },
        "onError": "continueRegularOutput"
      },
      "name": "Fetch Robots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const inputUrl = $('Webhook').first().json.query.url || '';\nconst url = /^https?:\\/\\//i.test(inputUrl) ? inputUrl : `https://${inputUrl}`;\n\nconst statusData = $('Check Status').first().json;\nconst statusCode = statusData.statusCode || statusData.status || (statusData.error && statusData.error.status) || null;\nconst statusHeaders = statusData.headers || (statusData.error && statusData.error.headers) || {};\n\nconst htmlData = $('Fetch HTML').first().json;\nconst html = typeof htmlData.body === 'string' ? htmlData.body : (typeof htmlData.data === 'string' ? htmlData.data : null);\n\nconst robotsData = $('Fetch Robots').first().json;\nconst robotsStatus = robotsData.statusCode || robotsData.status || (robotsData.error && robotsData.error.status) || null;\nconst robotsBody = typeof robotsData.body === 'string' ? robotsData.body : (typeof robotsData.data === 'string' ? robotsData.data : '');\nconst robotsHeaders = robotsData.headers || (robotsData.error && robotsData.error.headers) || {};\n\n// Cloudflare 보안 챌린지 감지\nconst cfMitigated = (statusHeaders['cf-mitigated'] || '').toString();\nconst cfServer = (statusHeaders['server'] || '').toString();\nconst isCfChallenged = cfMitigated.includes('challenge') || (statusCode === 403 && cfServer.toLowerCase() === 'cloudflare');\nconst robotsCfMitigated = (robotsHeaders['cf-mitigated'] || '').toString();\nconst robotsCfServer = (robotsHeaders['server'] || '').toString();\nconst isRobotsCfChallenged = robotsCfMitigated.includes('challenge') || (robotsStatus === 403 && robotsCfServer.toLowerCase() === 'cloudflare');\nconst htmlHeaders = htmlData.headers || (htmlData.error && htmlData.error.headers) || {};\nconst htmlStatus = htmlData.statusCode || htmlData.status || (htmlData.error && htmlData.error.status) || null;\nconst htmlCfMitigated = (htmlHeaders['cf-mitigated'] || '').toString();\nconst htmlCfServer = (htmlHeaders['server'] || '').toString();\nconst isHtmlCfChallenged = htmlCfMitigated.includes('challenge') || (htmlStatus === 403 && htmlCfServer.toLowerCase() === 'cloudflare');\nconst cfMsg = 'Cloudflare 봇 방어로 인해 확인할 수 없습니다. 실제 검색엔진 봇은 Cloudflare에서 별도 허용되므로 SEO에 영향 없습니다.';\n\n// HTML 엔티티 디코딩\nfunction decode(str) {\n  if (!str) return str;\n  const entities = { nbsp:' ', middot:'·', bull:'•', ndash:'–', mdash:'—', laquo:'«', raquo:'»', copy:'©', reg:'®', trade:'™', amp:'&', lt:'<', gt:'>', quot:'\"', apos:\"'\" };\n  return str\n    .replace(/&#(\\d+);/g, (m, n) => String.fromCharCode(Number(n)))\n    .replace(/&#x([0-9a-f]+);/gi, (m, n) => String.fromCharCode(parseInt(n, 16)))\n    .replace(/&([a-z]+);/gi, (m, e) => entities[e.toLowerCase()] !== undefined ? entities[e.toLowerCase()] : m);\n}\n\nfunction getMetaContent(h, attr, value) {\n  if (!h) return null;\n  const re = new RegExp(`<meta[^>]+${attr}\\\\s*=\\\\s*[\"']${value}[\"'][^>]*>`, 'i');\n  const m = h.match(re);\n  if (!m) return null;\n  const cm = m[0].match(/content\\s*=\\s*[\"']([^\"']*)[\"']/i);\n  return cm ? decode(cm[1].trim()) : null;\n}\nfunction getMetaByName(h, name) {\n  if (!h) return null;\n  const re = new RegExp(`<meta[^>]+name\\\\s*=\\\\s*[\"']${name}[\"'][^>]*>`, 'i');\n  const m = h.match(re);\n  if (!m) return null;\n  const cm = m[0].match(/content\\s*=\\s*[\"']([^\"']*)[\"']/i);\n  return cm ? decode(cm[1].trim()) : null;\n}\nfunction getTitle(h) {\n  if (!h) return null;\n  const m = h.match(/<title[^>]*>([^<]*)<\\/title>/i);\n  return m ? decode(m[1].trim()) : null;\n}\nfunction getRobotsMetaTags(h) {\n  if (!h) return [];\n  const tags = [];\n  const re = /<meta[^>]+name\\s*=\\s*[\"'](robots|googlebot|yeti)[\"'][^>]*>/gi;\n  let m;\n  while ((m = re.exec(h)) !== null) {\n    const cm = m[0].match(/content\\s*=\\s*[\"']([^\"']*)[\"']/i);\n    tags.push({ name: m[1], content: cm ? cm[1] : '' });\n  }\n  return tags;\n}\nfunction detectRepeated(text) {\n  const words = text.split(/\\s+/).filter(w => w.length > 1);\n  const f = {};\n  for (const w of words) { const k = w.toLowerCase(); f[k] = (f[k]||0)+1; }\n  return Object.entries(f).filter(([,c]) => c >= 3).map(([w]) => w);\n}\n\nconst STATUS_MSGS = { 200:'정상 접속 - 요청된 웹 페이지를 정상적으로 응답', 301:'영구 이동 - URL이 완전히 전환됨', 302:'임시 이동', 307:'임시 리다이렉트', 308:'영구 리다이렉트', 400:'잘못된 요청', 401:'인증 필요', 403:'접근 금지', 404:'페이지 없음', 500:'서버 오류', 503:'서비스 불가' };\nfunction buildHttpCheck() {\n  if (!statusCode) return { code: null, message: '접속 실패', pass: false, location: null, details: [] };\n  if (isCfChallenged) return { code: statusCode, message: 'Cloudflare 보안 챌린지 감지 - 실제 서버 응답 아님', pass: true, location: null, details: [{ type:'info', text:`HTTP ${statusCode} - Cloudflare 보안 챌린지 (봇 방어)` }, { type:'info', text: cfMsg }] };\n  let msg = STATUS_MSGS[statusCode];\n  if (!msg) { msg = statusCode >= 500 ? '서버 오류' : statusCode >= 400 ? '클라이언트 오류' : '알 수 없는 응답'; }\n  const pass = statusCode >= 200 && statusCode < 400;\n  const loc = statusHeaders.location || statusHeaders.Location || null;\n  const d = [];\n  if (statusCode >= 200 && statusCode < 300) d.push({ type:'info', text:`HTTP ${statusCode} (200번대) - ${msg}` });\n  else if (statusCode >= 300 && statusCode < 400) d.push({ type:'info', text:`HTTP ${statusCode} (300번대) - ${msg}` });\n  else d.push({ type:'warn', text:`HTTP ${statusCode} - ${msg}` });\n  if (loc) d.push({ type:'info', text:`리다이렉트 대상: ${loc}` });\n  if (statusCode >= 300 && statusCode < 400) d.push({ type:'tip', text:'301(영구 이동)은 SEO에 유리합니다.' });\n  if (statusCode >= 400) d.push({ type:'tip', text: statusCode >= 500 ? '서버 오류를 확인하세요.' : 'URL이 올바른지 확인하세요.' });\n  return { code: statusCode, message: msg, pass, location: loc, details: d };\n}\n\nfunction buildRobotsCheck() {\n  if (!robotsStatus) return { pass: false, message: '접속 실패', details: [] };\n  if (isRobotsCfChallenged) return { pass: true, message: 'Cloudflare 보안 챌린지로 robots.txt 확인 불가', details: [{ type:'info', text:'Cloudflare 봇 방어가 활성화되어 robots.txt에 직접 접근할 수 없습니다.' }, { type:'info', text:'실제 검색엔진 봇은 Cloudflare에서 별도로 허용되므로 robots.txt 접근에 문제가 없습니다.' }] };\n  const d = [];\n  if (robotsStatus >= 500) return { pass: false, message: `robots.txt 서버 오류 (${robotsStatus})`, details: [{ type:'warn', text:`서버 오류 (HTTP ${robotsStatus})` }] };\n  if (robotsStatus >= 400) { d.push({ type:'warn', text:'robots.txt 파일 없음' }); d.push({ type:'tip', text:'웹사이트 루트에 robots.txt를 추가하세요.' }); return { pass: false, message: 'robots.txt 없음', details: d }; }\n  d.push({ type:'info', text:'robots.txt 존재' });\n  const lines = robotsBody.split('\\n').map(l => l.trim().toLowerCase());\n  if (lines.some(l => l === 'disallow: /') && !lines.some(l => l === 'allow: /')) d.push({ type:'warn', text:'Disallow: / 설정으로 모든 크롤러 차단 중' });\n  if (lines.some(l => l.startsWith('sitemap:'))) d.push({ type:'info', text:'Sitemap 경로 포함됨' });\n  else d.push({ type:'info', text:'Sitemap 경로 없음 - 추가를 권장합니다.' });\n  return { pass: true, message: 'robots.txt 정상', details: d };\n}\n\nfunction buildRobotsMeta() {\n  if (isHtmlCfChallenged) return { pass: true, found: false, message: 'Cloudflare 보안 챌린지로 확인 불가', details: [{ type:'info', text:'Cloudflare 봇 방어로 인해 실제 페이지의 로봇 메타 태그를 확인할 수 없습니다.' }] };\n  if (!html) return { pass: false, found: false, message: '접속 실패', details: [] };\n  const tags = getRobotsMetaTags(html);\n  if (tags.length === 0) return { pass: true, found: false, message: '기본값 index, follow 적용', details: [{ type:'info', text:'네이버 로봇이 사이트를 수집할 수 있고 검색 결과에 노출할 수 있습니다.' }] };\n  const d = []; let ni = false, nf = false;\n  for (const t of tags) {\n    const dirs = t.content.split(',').map(x => x.trim().toLowerCase()).filter(Boolean);\n    if (dirs.includes('noindex')||dirs.includes('none')) { d.push({ type:'warn', text:'noindex: 검색 결과에서 제외됨' }); ni = true; }\n    else if (dirs.includes('index')||dirs.includes('all')) d.push({ type:'info', text:'index: 검색 색인 대상' });\n    if (dirs.includes('nofollow')||dirs.includes('none')) { d.push({ type:'warn', text:'nofollow: 페이지 내 링크 미수집' }); nf = true; }\n    else if (dirs.includes('follow')||dirs.includes('all')) d.push({ type:'info', text:'follow: 페이지 내 링크 수집' });\n  }\n  const pass = !ni && !nf;\n  if (pass) d.unshift({ type:'info', text:'네이버 로봇이 사이트를 수집할 수 있고 검색 결과에 노출할 수 있습니다.' });\n  const parts = []; if (ni) parts.push('noindex'); if (nf) parts.push('nofollow');\n  return { pass, found: true, message: pass ? '로봇 메타 태그 있음 - 색인 허용' : `로봇 메타 태그 있음 - 색인 제외 (${parts.join(', ')})`, details: d };\n}\n\nfunction buildTitle() {\n  if (isHtmlCfChallenged) return { pass: true, message: 'Cloudflare 보안 챌린지로 확인 불가', details: [{ type:'info', text:'Cloudflare 봇 방어로 인해 실제 페이지의 title 태그를 확인할 수 없습니다.' }] };\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const title = getTitle(html);\n  if (!title) return { pass: false, message: 'title 태그 없음', details: [{ type:'tip', text:'<title>페이지 제목</title>을 추가하세요.' }] };\n  const d = [{ type:'info', text:`title: \"${title}\"` }]; let pass = true; const len = title.length;\n  if (len > 100) { d.push({ type:'warn', text:`제목이 너무 김 (${len}자)` }); d.push({ type:'tip', text:'40자 이내로 줄여주세요.' }); pass = false; }\n  else if (len > 40) { d.push({ type:'warn', text:`제목이 다소 긴 편 (${len}자)` }); d.push({ type:'tip', text:'사용자가 쉽게 사이트를 파악할 수 있도록 40자 이내로 제목을 작성해주세요.' }); pass = false; }\n  else d.push({ type:'info', text:`제목 길이 양호 (${len}자)` });\n  const rp = detectRepeated(title); if (rp.length) { d.push({ type:'warn', text:`반복 키워드: ${rp.join(', ')}` }); pass = false; }\n  return { pass, warn: !pass && len > 40, message: pass ? `title 태그 정상 (${len}자)` : `title 태그 문제 있음 (${len}자)`, details: d };\n}\n\nfunction buildDesc() {\n  if (isHtmlCfChallenged) return { pass: true, message: 'Cloudflare 보안 챌린지로 확인 불가', details: [{ type:'info', text:'Cloudflare 봇 방어로 인해 실제 페이지의 meta description을 확인할 수 없습니다.' }] };\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const desc = getMetaByName(html, 'description'); const ogDesc = getMetaContent(html, 'property', 'og:description'); const title = getTitle(html);\n  if (!desc) {\n    const d = [{ type:'warn', text:'meta description 없음' }, { type:'tip', text:'<meta name=\"description\" content=\"설명\">을 추가하세요.' }];\n    if (ogDesc) { d.push({ type:'warn', text:'og:description만 있음 - meta description도 추가 권장' }); } else { d.push({ type:'warn', text:'og:description도 없음' }); }\n    return { pass: false, message: 'meta description 없음', details: d };\n  }\n  const d = [{ type:'info', text:`description: \"${desc}\"` }]; let pass = true; const len = desc.length;\n  if (len > 300) { d.push({ type:'warn', text:`설명이 너무 김 (${len}자)` }); pass = false; }\n  else if (len > 160) { d.push({ type:'warn', text:`설명이 다소 긴 편 (${len}자)` }); d.push({ type:'tip', text:'160자 이내로 작성하세요.' }); pass = false; }\n  else if (len > 80) { d.push({ type:'warn', text:`설명이 다소 긴 편 (${len}자)` }); d.push({ type:'tip', text:'사용자가 쉽게 사이트를 파악할 수 있도록 80자 이내로 설명문을 작성해주세요.' }); pass = false; }\n  else d.push({ type:'info', text:`설명 길이 양호 (${len}자)` });\n  if (title && desc === title) { d.push({ type:'warn', text:'제목과 설명이 동일' }); pass = false; }\n  if (!ogDesc) d.push({ type:'warn', text:'og:description 없음' });\n  return { pass, warn: !pass && len > 80, message: pass ? `meta description 정상 (${len}자)` : `meta description 문제 있음 (${len}자)`, details: d };\n}\n\nfunction buildOgTitle() {\n  if (isHtmlCfChallenged) return { pass: true, message: 'Cloudflare 보안 챌린지로 확인 불가', details: [{ type:'info', text:'Cloudflare 봇 방어로 인해 실제 페이지의 og:title을 확인할 수 없습니다.' }] };\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const og = getMetaContent(html, 'property', 'og:title'); const title = getTitle(html);\n  if (!og) { const d = [{ type:'warn', text:'og:title 없음' }, { type:'tip', text:'<meta property=\"og:title\" content=\"제목\">을 추가하세요.' }]; if (title) d.push({ type:'info', text:`대신 title 존재: \"${title}\"` }); return { pass: false, message: 'og:title 없음', details: d }; }\n  const d = [{ type:'info', text:`og:title: \"${og}\"` }]; let pass = true; const len = og.length;\n  if (len > 100) { d.push({ type:'warn', text:`og:title이 너무 김 (${len}자)` }); pass = false; }\n  else if (len > 80) { d.push({ type:'warn', text:`og:title이 다소 긴 편 (${len}자)` }); d.push({ type:'tip', text:'80자 이내로 작성하세요.' }); pass = false; }\n  else if (len > 40) { d.push({ type:'warn', text:`og:title이 다소 긴 편 (${len}자)` }); d.push({ type:'tip', text:'사용자가 쉽게 사이트를 파악할 수 있도록 40자 이내로 제목을 작성해주세요.' }); pass = false; }\n  else d.push({ type:'info', text:`og:title 길이 양호 (${len}자)` });\n  if (title && og !== title) d.push({ type:'info', text:'title 태그와 다름' }); else if (title) d.push({ type:'info', text:'title 태그와 동일' });\n  return { pass, warn: !pass && len > 40, message: pass ? `og:title 정상 (${len}자)` : `og:title 문제 있음 (${len}자)`, details: d };\n}\n\nfunction buildOgDesc() {\n  if (isHtmlCfChallenged) return { pass: true, message: 'Cloudflare 보안 챌린지로 확인 불가', details: [{ type:'info', text:'Cloudflare 봇 방어로 인해 실제 페이지의 og:description을 확인할 수 없습니다.' }] };\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const og = getMetaContent(html, 'property', 'og:description'); const md = getMetaByName(html, 'description');\n  if (!og) { const d = [{ type:'warn', text:'og:description 없음' }, { type:'tip', text:'<meta property=\"og:description\" content=\"설명\">을 추가하세요.' }]; if (md) d.push({ type:'info', text:`대신 meta description 존재: \"${md}\"` }); return { pass: false, message: 'og:description 없음', details: d }; }\n  const d = [{ type:'info', text:`og:description: \"${og}\"` }]; let pass = true; const len = og.length;\n  if (len > 300) { d.push({ type:'warn', text:`og:description이 너무 김 (${len}자)` }); pass = false; }\n  else if (len > 200) { d.push({ type:'warn', text:`og:description이 다소 긴 편 (${len}자)` }); pass = false; }\n  else if (len > 80) { d.push({ type:'warn', text:`og:description이 다소 긴 편 (${len}자)` }); d.push({ type:'tip', text:'사용자가 쉽게 사이트를 파악할 수 있도록 80자 이내로 설명문을 작성해주세요.' }); pass = false; }\n  else if (len < 10) { d.push({ type:'warn', text:`og:description이 너무 짧음 (${len}자)` }); pass = false; }\n  else d.push({ type:'info', text:`og:description 길이 양호 (${len}자)` });\n  if (md && og === md) d.push({ type:'info', text:'meta description과 동일' }); else if (md) d.push({ type:'info', text:'meta description과 다름' });\n  return { pass, warn: !pass && len > 80, message: pass ? `og:description 정상 (${len}자)` : `og:description 문제 있음 (${len}자)`, details: d };\n}\n\nreturn [{ json: { url, checks: [\n  { name:'HTTP 상태코드', key:'http', ...buildHttpCheck() },\n  { name:'robots.txt', key:'robots', ...buildRobotsCheck() },\n  { name:'로봇 메타 태그', key:'robotsMeta', ...buildRobotsMeta() },\n  { name:'페이지 제목 (title)', key:'title', ...buildTitle() },\n  { name:'사이트 설명 (meta description)', key:'desc', ...buildDesc() },\n  { name:'Open Graph 제목 (og:title)', key:'ogTitle', ...buildOgTitle() },\n  { name:'Open Graph 설명 (og:description)', key:'ogDesc', ...buildOgDesc() }\n] } }];"
      },
      "name": "Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Check Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Status": {
      "main": [
        [{ "node": "Fetch HTML", "type": "main", "index": 0 }]
      ]
    },
    "Fetch HTML": {
      "main": [
        [{ "node": "Fetch Robots", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Robots": {
      "main": [
        [{ "node": "Analyze", "type": "main", "index": 0 }]
      ]
    },
    "Analyze": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  }
}
