n8n-workflow.json
{
  "name": "SEO Checker API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "seo-check",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// URL 받기\nconst inputUrl = $input.first().json.query.url;\nif (!inputUrl) {\n  return [{ json: { error: 'URL이 필요합니다.' } }];\n}\nconst url = /^https?:\\/\\//i.test(inputUrl) ? inputUrl : `https://${inputUrl}`;\n\n// HTTP 상태코드 체크\nasync function checkHttpStatus(url) {\n  const STATUS_MESSAGES = {\n    200: '정상 접속 - 요청된 웹 페이지를 정상적으로 응답',\n    301: '영구 이동 - URL이 완전히 전환됨',\n    302: '임시 이동',\n    303: '임시 이동 (See Other)',\n    307: '임시 리다이렉트',\n    308: '영구 리다이렉트',\n    400: '잘못된 요청 - HTTP 문법 오류',\n    401: '인증 필요 - 접근 자격 없음',\n    403: '접근 금지 - 권한 없음',\n    404: '페이지 없음 - 존재하지 않는 페이지',\n    500: '서버 오류 - 서버 설정/프로그램 오류',\n    503: '서비스 불가 - 서버 과부하',\n  };\n  try {\n    const res = await fetch(url, { redirect: 'manual', signal: AbortSignal.timeout(10000) });\n    const code = res.status;\n    let message = STATUS_MESSAGES[code];\n    if (!message) {\n      if (code >= 400 && code < 500) message = '클라이언트 오류';\n      else if (code >= 500) message = '서버 오류';\n      else message = '알 수 없는 응답';\n    }\n    const pass = code >= 200 && code < 400;\n    const location = res.headers.get('location') || null;\n    const details = [];\n    if (code >= 200 && code < 300) {\n      details.push({ type: 'info', text: `HTTP ${code} (200번대) - ${message}` });\n    } else if (code >= 300 && code < 400) {\n      details.push({ type: 'info', text: `HTTP ${code} (300번대) - ${message}` });\n    } else {\n      details.push({ type: 'warn', text: `HTTP ${code} - ${message}` });\n    }\n    if (location) details.push({ type: 'info', text: `리다이렉트 대상: ${location}` });\n    if (code >= 300 && code < 400) {\n      details.push({ type: 'tip', text: '301(영구 이동)은 SEO에 유리합니다. 302~307은 임시 이동으로, 검색엔진이 원본 URL을 유지합니다. 영구적으로 이전한 경우 301을 사용하세요.' });\n    }\n    if (code >= 400) {\n      details.push({ type: 'tip', text: `${code >= 500 ? '서버 오류를 확인하고 수정하세요.' : 'URL이 올바른지, 페이지가 존재하는지 확인하세요.'} 오류 페이지는 검색 색인에서 제외됩니다.` });\n    }\n    return { code, message, pass, location, details };\n  } catch (e) {\n    return { code: null, message: `접속 실패 - ${e.message}`, pass: false, location: null, details: [] };\n  }\n}\n\n// HTML 가져오기\nasync function fetchHtml(url) {\n  try {\n    const res = await fetch(url, {\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; SEOChecker/1.0)' },\n      signal: AbortSignal.timeout(10000)\n    });\n    const ct = res.headers.get('content-type') || '';\n    if (!ct.includes('text/html')) return { html: null, contentType: ct };\n    const html = await res.text();\n    return { html, contentType: ct };\n  } catch (e) {\n    return { html: null, contentType: null, error: e.message };\n  }\n}\n\n// 간단 HTML 파싱 헬퍼\nfunction getMetaContent(html, attr, value) {\n  const regex = new RegExp(`<meta[^>]+${attr}\\\\s*=\\\\s*[\"']${value}[\"'][^>]*>`, 'i');\n  const match = html.match(regex);\n  if (!match) return null;\n  const contentMatch = match[0].match(/content\\s*=\\s*[\"']([^\"']*)[\"']/i);\n  return contentMatch ? contentMatch[1].trim() : null;\n}\n\nfunction getMetaByName(html, name) {\n  const regex = new RegExp(`<meta[^>]+name\\\\s*=\\\\s*[\"']${name}[\"'][^>]*>`, 'i');\n  const match = html.match(regex);\n  if (!match) return null;\n  const contentMatch = match[0].match(/content\\s*=\\s*[\"']([^\"']*)[\"']/i);\n  return contentMatch ? contentMatch[1].trim() : null;\n}\n\nfunction getTitle(html) {\n  const match = html.match(/<title[^>]*>([^<]*)<\\/title>/i);\n  return match ? match[1].trim() : null;\n}\n\nfunction getRobotsMetaTags(html) {\n  const tags = [];\n  const regex = /<meta[^>]+name\\s*=\\s*[\"'](robots|googlebot|yeti)[\"'][^>]*>/gi;\n  let m;\n  while ((m = regex.exec(html)) !== null) {\n    const name = m[1];\n    const contentMatch = m[0].match(/content\\s*=\\s*[\"']([^\"']*)[\"']/i);\n    tags.push({ name, content: contentMatch ? contentMatch[1] : '' });\n  }\n  return tags;\n}\n\nfunction detectRepeatedKeywords(text) {\n  const words = text.split(/\\s+/).filter(w => w.length > 1);\n  const freq = {};\n  for (const w of words) {\n    const key = w.toLowerCase();\n    freq[key] = (freq[key] || 0) + 1;\n  }\n  return Object.entries(freq).filter(([, c]) => c >= 3).map(([w]) => w);\n}\n\n// robots.txt 체크\nasync function checkRobotsTxt(url) {\n  try {\n    const u = new URL(url);\n    const robotsUrl = `${u.protocol}//${u.host}/robots.txt`;\n    const res = await fetch(robotsUrl, { signal: AbortSignal.timeout(10000) });\n    const code = res.status;\n    const details = [];\n    if (code >= 500) {\n      return { pass: false, message: `robots.txt 서버 오류 (${code})`, details: [{ type: 'warn', text: `robots.txt 요청 시 서버 오류 발생 (HTTP ${code})` }] };\n    }\n    if (code >= 400) {\n      details.push({ type: 'warn', text: 'robots.txt 파일 없음' });\n      details.push({ type: 'tip', text: '웹사이트 루트에 robots.txt 파일을 추가하세요. 검색엔진 크롤러에게 어떤 페이지를 수집할 수 있는지 안내하는 역할을 합니다.' });\n      return { pass: false, message: 'robots.txt 없음', details };\n    }\n    const text = await res.text();\n    const ct = res.headers.get('content-type') || '';\n    if (!ct.includes('text/plain')) {\n      details.push({ type: 'warn', text: `Content-Type이 text/plain이 아님 (${ct})` });\n    }\n    details.push({ type: 'info', text: 'robots.txt 존재' });\n    const lines = text.split('\\n').map(l => l.trim().toLowerCase());\n    const hasDisallowAll = lines.some(l => l === 'disallow: /');\n    const hasAllowAll = lines.some(l => l === 'allow: /');\n    if (hasDisallowAll && !hasAllowAll) {\n      details.push({ type: 'warn', text: 'Disallow: / 설정으로 모든 크롤러 차단 중' });\n    }\n    const hasSitemap = lines.some(l => l.startsWith('sitemap:'));\n    if (hasSitemap) {\n      details.push({ type: 'info', text: 'Sitemap 경로 포함됨' });\n    } else {\n      details.push({ type: 'info', text: 'Sitemap 경로 없음 - robots.txt에 Sitemap 경로를 추가하면 검색엔진이 페이지를 더 효율적으로 발견할 수 있습니다.' });\n    }\n    return { pass: true, message: 'robots.txt 정상', details };\n  } catch (e) {\n    return { pass: false, message: `접속 실패 - ${e.message}`, details: [] };\n  }\n}\n\n// 로봇 메타 태그 체크\nfunction checkRobotsMeta(html) {\n  if (!html) return { pass: false, found: false, message: '접속 실패', details: [] };\n  const tags = getRobotsMetaTags(html);\n  if (tags.length === 0) {\n    return {\n      pass: true, found: false,\n      message: '기본값 index, follow 적용',\n      details: [{ type: 'info', text: '네이버 로봇이 사이트를 수집할 수 있고 검색 결과에 노출할 수 있습니다.' }]\n    };\n  }\n  const details = [];\n  let overallNoindex = false;\n  let overallNofollow = false;\n  for (const tag of tags) {\n    const directives = tag.content.split(',').map(d => d.trim().toLowerCase()).filter(Boolean);\n    const hasNoindex = directives.includes('noindex');\n    const hasNofollow = directives.includes('nofollow');\n    const hasNone = directives.includes('none');\n    const hasIndex = directives.includes('index');\n    const hasFollow = directives.includes('follow');\n    const hasAll = directives.includes('all');\n    if (hasNoindex || hasNone) {\n      details.push({ type: 'warn', text: 'noindex: 검색 결과에서 제외됨' });\n      overallNoindex = true;\n    } else if (hasIndex || hasAll) {\n      details.push({ type: 'info', text: 'index: 검색 색인 대상' });\n    }\n    if (hasNofollow || hasNone) {\n      details.push({ type: 'warn', text: 'nofollow: 페이지 내 링크 미수집' });\n      overallNofollow = true;\n    } else if (hasFollow || hasAll) {\n      details.push({ type: 'info', text: 'follow: 페이지 내 링크 수집' });\n    }\n  }\n  const pass = !overallNoindex && !overallNofollow;\n  if (pass) {\n    details.unshift({ type: 'info', text: '네이버 로봇이 사이트를 수집할 수 있고 검색 결과에 노출할 수 있습니다.' });\n  }\n  const statusParts = [];\n  if (overallNoindex) statusParts.push('noindex');\n  if (overallNofollow) statusParts.push('nofollow');\n  const message = pass\n    ? `로봇 메타 태그 있음 - 색인 허용`\n    : `로봇 메타 태그 있음 - 색인 제외 (${statusParts.join(', ')})`;\n  return { pass, found: true, message, details };\n}\n\n// 타이틀 체크\nfunction checkTitleTag(html) {\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const title = getTitle(html);\n  const details = [];\n  let pass = true;\n  if (!title) {\n    return {\n      pass: false, message: 'title 태그 없음 - 검색 노출에 불이익',\n      details: [{ type: 'tip', text: '<head> 태그 안에 <title>페이지 제목</title>을 추가하세요.' }]\n    };\n  }\n  details.push({ type: 'info', text: `title: \"${title}\"` });\n  const len = title.length;\n  if (len > 100) {\n    details.push({ type: 'warn', text: `제목이 너무 김 (${len}자)` });\n    details.push({ type: 'tip', text: '검색 결과에서 제대로 표시될 수 있도록 제목을 40자 이내로 줄여주세요.' });\n    pass = false;\n  } else if (len > 40) {\n    details.push({ type: 'warn', text: `제목이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '사용자가 쉽게 사이트를 파악할 수 있도록 40자 이내로 제목을 작성해주세요.' });\n    pass = false;\n  } else {\n    details.push({ type: 'info', text: `제목 길이 양호 (${len}자)` });\n  }\n  const repeated = detectRepeatedKeywords(title);\n  if (repeated.length > 0) {\n    details.push({ type: 'warn', text: `반복 키워드 감지: ${repeated.map(w => `\"${w}\"`).join(', ')}` });\n    pass = false;\n  }\n  const warn = !pass && len > 40;\n  const message = pass ? `title 태그 정상 (${len}자)` : `title 태그 문제 있음 (${len}자)`;\n  return { pass, warn, message, details };\n}\n\n// 메타 디스크립션 체크\nfunction checkMetaDescription(html) {\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const desc = getMetaByName(html, 'description');\n  const ogDesc = getMetaContent(html, 'property', 'og:description');\n  const title = getTitle(html);\n  const details = [];\n  let pass = true;\n  if (!desc) {\n    details.push({ type: 'warn', text: 'meta description 없음 - 검색 스니펫 자동 추출에 의존하게 됨' });\n    details.push({ type: 'tip', text: '<head> 태그 안에 <meta name=\"description\" content=\"페이지 설명\">을 추가하세요.' });\n    if (ogDesc) {\n      details.push({ type: 'info', text: `og:description: \"${ogDesc}\"` });\n      details.push({ type: 'warn', text: 'og:description만 있음 - meta description도 별도 추가 권장' });\n    } else {\n      details.push({ type: 'warn', text: 'og:description도 없음 - 소셜 공유 및 검색 활용도 저하 가능' });\n    }\n    return { pass: false, message: 'meta description 없음', details };\n  }\n  details.push({ type: 'info', text: `description: \"${desc}\"` });\n  const len = desc.length;\n  if (len > 300) {\n    details.push({ type: 'warn', text: `설명이 너무 김 (${len}자)` });\n    details.push({ type: 'tip', text: '설명을 160자 이내로 줄여주세요.' });\n    pass = false;\n  } else if (len > 160) {\n    details.push({ type: 'warn', text: `설명이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '160자 이내로 작성하면 검색 결과에서 설명이 잘리지 않습니다.' });\n    pass = false;\n  } else if (len > 80) {\n    details.push({ type: 'warn', text: `설명이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '사용자가 쉽게 사이트를 파악할 수 있도록 80자 이내로 설명문을 작성해주세요.' });\n    pass = false;\n  } else {\n    details.push({ type: 'info', text: `설명 길이 양호 (${len}자)` });\n  }\n  if (title && desc === title) {\n    details.push({ type: 'warn', text: '제목(title)과 설명이 동일 - 검색 노출 불이익 가능' });\n    pass = false;\n  }\n  const repeated = detectRepeatedKeywords(desc);\n  if (repeated.length > 0) {\n    details.push({ type: 'warn', text: `반복 키워드 감지: ${repeated.map(w => `\"${w}\"`).join(', ')}` });\n    pass = false;\n  }\n  if (ogDesc) {\n    if (ogDesc !== desc) details.push({ type: 'info', text: 'og:description과 다름' });\n  } else {\n    details.push({ type: 'warn', text: 'og:description 없음 - 소셜 공유 및 검색 활용도 저하 가능' });\n  }\n  const warn = !pass && len > 80;\n  const message = pass ? `meta description 정상 (${len}자)` : `meta description 문제 있음 (${len}자)`;\n  return { pass, warn, message, details };\n}\n\n// og:title 체크\nfunction checkOgTitle(html) {\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const ogTitle = getMetaContent(html, 'property', 'og:title');\n  const title = getTitle(html);\n  const details = [];\n  let pass = true;\n  if (!ogTitle) {\n    details.push({ type: 'warn', text: 'og:title 태그 없음 - 소셜 공유 및 네이버 검색 활용도 저하 가능' });\n    details.push({ type: 'tip', text: '<meta property=\"og:title\" content=\"페이지 제목\">을 <head> 안에 추가하세요.' });\n    if (title) details.push({ type: 'info', text: `대신 title 태그 존재: \"${title}\"` });\n    return { pass: false, message: 'og:title 없음', details };\n  }\n  details.push({ type: 'info', text: `og:title: \"${ogTitle}\"` });\n  const len = ogTitle.length;\n  if (len > 100) {\n    details.push({ type: 'warn', text: `og:title이 너무 김 (${len}자)` });\n    details.push({ type: 'tip', text: '80자 이내로 줄여주세요.' });\n    pass = false;\n  } else if (len > 80) {\n    details.push({ type: 'warn', text: `og:title이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '80자 이내로 작성하면 소셜 공유 미리보기에서 제목이 온전히 표시됩니다.' });\n    pass = false;\n  } else if (len > 40) {\n    details.push({ type: 'warn', text: `og:title이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '사용자가 쉽게 사이트를 파악할 수 있도록 40자 이내로 제목을 작성해주세요.' });\n    pass = false;\n  } else {\n    details.push({ type: 'info', text: `og:title 길이 양호 (${len}자)` });\n  }\n  const repeated = detectRepeatedKeywords(ogTitle);\n  if (repeated.length > 0) {\n    details.push({ type: 'warn', text: `반복 키워드 감지: ${repeated.map(w => `\"${w}\"`).join(', ')}` });\n    pass = false;\n  }\n  if (title && ogTitle !== title) {\n    details.push({ type: 'info', text: `title 태그와 다름: \"${title}\"` });\n  } else if (title && ogTitle === title) {\n    details.push({ type: 'info', text: 'title 태그와 동일' });\n  }\n  const warn = !pass && len > 40;\n  const message = pass ? `og:title 정상 (${len}자)` : `og:title 문제 있음 (${len}자)`;\n  return { pass, warn, message, details };\n}\n\n// og:description 체크\nfunction checkOgDescription(html) {\n  if (!html) return { pass: false, message: '접속 실패', details: [] };\n  const ogDesc = getMetaContent(html, 'property', 'og:description');\n  const metaDesc = getMetaByName(html, 'description');\n  const details = [];\n  let pass = true;\n  if (!ogDesc) {\n    details.push({ type: 'warn', text: 'og:description 태그 없음 - 소셜 공유 및 네이버 검색 활용도 저하 가능' });\n    details.push({ type: 'tip', text: '<meta property=\"og:description\" content=\"페이지 설명\">을 <head> 안에 추가하세요.' });\n    if (metaDesc) details.push({ type: 'info', text: `대신 meta description 존재: \"${metaDesc}\"` });\n    return { pass: false, message: 'og:description 없음', details };\n  }\n  details.push({ type: 'info', text: `og:description: \"${ogDesc}\"` });\n  const len = ogDesc.length;\n  if (len > 300) {\n    details.push({ type: 'warn', text: `og:description이 너무 김 (${len}자)` });\n    details.push({ type: 'tip', text: '200자 이내로 줄여주세요.' });\n    pass = false;\n  } else if (len > 200) {\n    details.push({ type: 'warn', text: `og:description이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '200자 이내로 작성하면 소셜 공유 미리보기에서 설명이 온전히 표시됩니다.' });\n    pass = false;\n  } else if (len > 80) {\n    details.push({ type: 'warn', text: `og:description이 다소 긴 편 (${len}자)` });\n    details.push({ type: 'tip', text: '사용자가 쉽게 사이트를 파악할 수 있도록 80자 이내로 설명문을 작성해주세요.' });\n    pass = false;\n  } else if (len < 10) {\n    details.push({ type: 'warn', text: `og:description이 너무 짧음 (${len}자)` });\n    pass = false;\n  } else {\n    details.push({ type: 'info', text: `og:description 길이 양호 (${len}자)` });\n  }\n  const repeated = detectRepeatedKeywords(ogDesc);\n  if (repeated.length > 0) {\n    details.push({ type: 'warn', text: `반복 키워드 감지: ${repeated.map(w => `\"${w}\"`).join(', ')}` });\n    pass = false;\n  }\n  if (metaDesc && ogDesc === metaDesc) {\n    details.push({ type: 'info', text: 'meta description과 동일' });\n  } else if (metaDesc) {\n    details.push({ type: 'info', text: 'meta description과 다름' });\n  }\n  const warn = !pass && len > 80;\n  const message = pass ? `og:description 정상 (${len}자)` : `og:description 문제 있음 (${len}자)`;\n  return { pass, warn, message, details };\n}\n\n// 메인 실행\nconst [http, robots, htmlData] = await Promise.all([\n  checkHttpStatus(url),\n  checkRobotsTxt(url),\n  fetchHtml(url)\n]);\n\nconst html = htmlData.html;\nconst robotsMeta = checkRobotsMeta(html);\nconst titleResult = checkTitleTag(html);\nconst descResult = checkMetaDescription(html);\nconst ogTitleResult = checkOgTitle(html);\nconst ogDescResult = checkOgDescription(html);\n\nreturn [{\n  json: {\n    url,\n    checks: [\n      { name: 'HTTP 상태코드', key: 'http', ...http },\n      { name: 'robots.txt', key: 'robots', ...robots },\n      { name: '로봇 메타 태그', key: 'robotsMeta', ...robotsMeta },\n      { name: '페이지 제목 (title)', key: 'title', ...titleResult },\n      { name: '사이트 설명 (meta description)', key: 'desc', ...descResult },\n      { name: 'Open Graph 제목 (og:title)', key: 'ogTitle', ...ogTitleResult },\n      { name: 'Open Graph 설명 (og:description)', key: 'ogDesc', ...ogDescResult }\n    ]\n  }\n}];"
      },
      "name": "SEO Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {},
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "SEO Analysis", "type": "main", "index": 0 }]
      ]
    },
    "SEO Analysis": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  }
}
